* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*these classes are nessesary if you want to Use navbar only*/
:root {
  --white: white;
  --black: rgb(0, 0, 0);
  --links: 18px;
  --paragraph: 24px;
  --heading: 40px;
  --logoS: 100px;
}

body {
  min-height: 100vh;
  /*temporary you can remove it, i just applied it to have a full screen view of my work*/
  min-width: 100%;
  background: url(/static/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.main{
  padding: 6% 2%;
  color: white;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI';
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 22px;
  color: #fff;
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}
.nav > #nav-check {
    display: none;
}
@media (max-width: 480px) {
  .nav {
    padding: 1rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-list {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in;
    top: 40px;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
    padding: 15px;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}

@media (max-width:730px) {
  .main{
    padding: 14vh 2%;
  }
}

footer{
  margin-top: auto;
  text-align: center;
  color: #a0a0a0;
  font-size: x-small;
}


@media (max-width: 768px) {
  .header {
    background-position: bottom; /* Adjust the position for mobile screens */
  }
}

.logo-image {
  height: 50px;
  width: 50px;
}

a{
  text-decoration: none;
  padding: 15px;
}

a:hover {
  background-color: white;
  border-radius: 50px;
  color: black !important;
}