<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/apology.css">
</head>
<body>
    <div class="text">
        <div>ERROR</div>
        <h1>400</h1>
        <hr>
        <div class="err-text">{{ message }}</div>
        <div class="btn-container">
            <button class="backButton" id="backButton"> Return
                <div class="iconButton">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </div>
            </button>
        </div>
      </div>
      
      <div class="astronaut">
        <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
      </div>
</body>
<script src="/static/apology.js"></script>
</html>
