<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/apology.css">
</head>
<body>
    <div class="text">
        <div>ERROR</div>
        <h1>400</h1>
        <hr>
        <div>{{ message }}</div>
      </div>
      
      <div class="astronaut">
        <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
      </div>
</body>
<script src="/static/apology.js"></script>
</html>
