{% extends "layout.html" %} 

{% block title %}
  Dashbaord
{% endblock %}

{% block links %}

<link rel="stylesheet" href="/static/dashboard.css">

{% endblock %}

{% block main %}
  <div class="wrapper">
    {% for quiz in quizzes %}
    <div class="container">
      <div class="parent">
            <div class="card">
                <div class="logo-card">
                    <span class="circle circle4"></span>
                    <span class="circle circle5">
                      <span class="question">?</span>
                    </span>
                </div>
                <div class="glass"></div>
                <div class="content">
                    <span class="title">{{ quiz['title'] }}</span>
                    <span class="text">{{ quiz['description'] }}</span>
                    <br>
                    <a class="q-button" href="/quiz/{{ quizzes.index(quiz) + 1 }}"> Go for it</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="loading-text" id="loadingText" onmouseover="startLoading()">More Coming Soon</div>
  </div>
{% endblock %}
