<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}GetQuizzed{% endblock %}</title>
  {% block links %}

  {% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/nav.css">
</head>
<body>
  <div class="header">
      <nav class="navbar">
          <div class="container-nav">
          <img src="/static/favicon.png" alt="Logo" class="logo">
          <div class="data-links nav-links">
              <a href="/dashboard">Dashbaord</a>
              <a href="/history">History</a>
              <a href="/leaderboard">Global leaderboard</a>
              <a href="/signout">Sign out</a>
          </div>
          <div class="data-icons">
         <i onclick="menu()" class="menu-icon size fa-solid fa-bars"></i>
         <i onclick="Mclose()" class="close-icon size fa-solid fa-xmark"></i>
          </div>
      </div>
      </nav>
      <div class="main">
        {% block main %}
        
        {% endblock %}
      </div>
      <footer>
        &copy; Copyright 2023-2025 GetQuizzed
      </footer>
  </div>
  <script src="https://kit.fontawesome.com/7103fc097b.js" crossorigin="anonymous"></script>
  <script src="/static/nav.js"></script>
</body>
</html>