<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}GetQuizzed{% endblock %}</title>
  {% block links %}

  {% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/layout.css">
  <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
</head>
<body>
  <nav class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <img class="logo-image" src="/static/favicon.png" alt="">
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <ul class="nav-list">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/leaderboard">Global leaderboard</a></li>
      <li><a href="/signout">Sign out</a></li>
    </ul>
  </nav>
  <div class="main">
    {% block main %}
    
    {% endblock %}
  </div>
  <footer>
    &copy; Copyright 2023-2025 GetQuizzed
  </footer>
  {% block scripts %}

  {% endblock %}
  <script src="https://kit.fontawesome.com/7103fc097b.js" crossorigin="anonymous"></script>
  <script src="/static/nav.js"></script>
</body>
</html>